.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  padding: 0.7rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.info {
  background-color: rgba(0, 0, 0, 0.206);
  font-size: 1.2rem;
  color: white;
  padding: 0.7rem;
}